body{
  background-color: #F2F2F2;
  display: table;
}

.element-container {
  display: inline-block;
  position: absolute !important;
  cursor: move;
  // line-height:0;

  span:nth-of-type(1) {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 9px;
    height: 9px;
    border: 2px solid #5FA9DD;
    top: -15px;
    left: -15px;
  }

  span:nth-of-type(2) {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 9px;
    height: 9px;
    border: 2px solid #5FA9DD;
    top: -15px;
    right: -15px;
  }
  //
  span:nth-of-type(3) {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 9px;
    height: 9px;
    border: 2px solid #5FA9DD;
    bottom: -15px;
    left: -15px;
  }
  //
  span:nth-of-type(4) {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 9px;
    height: 9px;
    border: 2px solid #5FA9DD;
    bottom: -15px;
    right: -15px;
  }

  &.active {

    span {
      display: block;
    }

    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: calc(100% + 25px);
      height: calc(100% + 25px);
      border: 2px solid #47A1DC;
    }

    // &:hover {
      .sub-menu {
        transition: all .2s ease;
        display: block;
      }
    // }
  }

  .sub-menu {
    cursor: default !important;
    display: none;
    position: absolute;
    top: -15px;
    left: calc(100% + 40px);
    height: rem(215px);
    width: rem(215px);
    border: rem(1px) solid #e3e5e7;
    background-color: white;
    box-shadow: rem(1px) rem(1px) rem(2px) rgba(#AAABAB, 50%);
    padding: rem(15px);

    &::before {
      content: '';
      position: absolute;
      left: rem(-18px);
      top: rem(31px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 rem(12px) rem(12px) rem(12px);
      transform: rotate(-90deg);
      border-color: transparent transparent #e3e5e7 transparent;
    }

    &::after {
      content: '';
      position: absolute;
      left: rem(-15px);
      top: rem(32px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 rem(10px) rem(10px) rem(10px);
      transform: rotate(-90deg);
      border-color: transparent transparent #fff transparent;
    }
  }

  .element-settings-text-icon {
    float: left;
  }

  .element-settings-headline {
    color: #555555;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: rem(16px);
    font-weight: normal;
    margin: 4px 0 0 30px;
  }

  .element-settings-divider {
    width: 100%;
    height: 1px;
    background-color: #F7F8F9;
    clear: both;
    margin-top: 10px;
  }
}

.circle {
  background-color: #F26A24;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.rectangle {
  background-color: #F26A24;
  width: 50px;
  height: 50px;
}

.image {
  background-color: #F7F9FA;
  border: 1px solid #E3E7EB;
  width: 150px;
  height: 150px;

  svg {
    width: 50px;
    height: 50px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.link {
  color: blue;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: rem(18px);
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 0;
}

.text {
  color: lighten(black, 10%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: rem(18px);
  font-weight: normal;
  margin: 0;
  padding: 2px;
}

.horizontal-list {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: rem(18px);
  font-weight: normal;
  margin-bottom: 0px;
}

.checkbox {
  padding-left: 20px;

  input {
    margin-top: 1px;
    margin-left: -20px;
  }

  input:focus {
    outline: none;
  }
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: rem(400px);

  & caption {
    font-size: 1.5em;
    margin: .25em 0 .75em;
  }
  & tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  & th,
  & td {
    padding: .625em;
    text-align: center;
  }
  & th {
    background-color: red;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  & td img {
    text-align: center;
  }
}

.button {
  background-color: #9B9A9A;
  text-align: center;

  h6 {
    cursor: pointer;
    padding: 20px 30px;
    margin-bottom: 0px;
    // padding-top: 2px;
    font-size: 16px;
    color: white;
  }
}

.bulleted-list {
  padding-left: 18px;

  li {
    list-style-type: disc;
  }
}

.current-function {
  z-index: 7;
  padding: rem(15px) rem(35px);
  background-color: rgba(0,0,0, .5);
  position: fixed;
  border-radius: rem(20px);
  bottom: rem(25px);
  left: rem(60px);
  display: none;

  &.active {
    display: block;
  }

  h6 {
    font-size: rem(14px);
    color: white;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

div#app {
  display: table;
  // background-color: transparent;
  padding-bottom: rem(450px);
  padding-right: rem(694px);
  top: rem(151px);
  left: rem(21px);
  position: absolute;
}

.inner-board {
  cursor: default;
  z-index: 0;
  background: url('../img/grid-bg.jpg');
  background-origin: content-box;
  background-repeat: repeat;
  margin-left: rem(1px);
  padding-left: rem(20px);
  height: rem(768px);
  width: rem(1366px);
  position: relative;
  // left: 21px;
  border-left: rem(1px) solid #CED8D7;
  border-top: rem(1px) solid #CED8D7;
  border-bottom: rem(1px) solid #CED8D7;
  border-right: rem(1px) solid #CED8D7;

  // see if we can do this without !important
  &.panning {
    cursor: move !important;
  }

  &:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: .7;
  }
}
