body{
  background-color: #F2F2F2;
}

.current-function {
  z-index: 7;
  padding: rem(15px) rem(35px);
  background-color: rgba(0,0,0, .5);
  position: fixed;
  border-radius: 20px;
  bottom: 25px;
  left: 60px;
  display: none;

  &.active {
    display: block;
  }

  h6 {
    font-size: rem(14px);
    color: white;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

div#app {
  display: table;
  // background-color: transparent;
  padding-bottom: 450px;
  padding-right: 694px;
  top: 151px;
  left: 21px;
  position: absolute;
}

.inner-board {
  cursor: default;
  z-index: 0;
  background: url('../img/grid-bg.jpg');
  background-origin: content-box;
  background-repeat: repeat;
  margin-left: 1px;
  padding-left: rem(20px);
  height: 768px;
  width: 1366px;
  position: relative;
  // left: 21px;
  border-left: 1px solid #CED8D7;
  border-top: 1px solid #CED8D7;
  border-bottom: 1px solid #CED8D7;
  border-right: 1px solid #CED8D7;

  &.panning {
    cursor: move !important;
  }

  &:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: .7;
  }
}
