.green-strip {
  height: rem(5px);
  width: 100%;
  background-color: $mockery-green;
}

.main-navigation {
  height: $nav-height;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $dark-grey;
}

.action-bar {
  height: rem(45px);
  width: 100%;
  background-color: $grey;
  border-bottom: 1px solid $dark-grey;
}
