.quick-panel {
  width: rem(50px);
  height: rem(50px);
  background-color: $quick-panel-primary;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 80px;
  border-radius: 35px;
  overflow: hidden;

  .quick-panel-close-container {
    height: rem(50px);
    width: rem(50px);
    background-color: transparent;
    box-shadow: 0px 2px 15px 1px darken($quick-panel-primary, 7%);
    border-radius: 35px;
    position: absolute;
    top: 0;
    left: 0;
  }

  svg {
    margin: 0;
    padding: 0;
    cursor: pointer;

    .quick-panel-close {

      &.resolve {
        transform: rotate(45deg);
      }
    }

    &:nth-child(1) {
      $size: rem(15px);
      height: $size;
      width: $size;
      max-width: $size;
      margin-top: 17px;
      margin-left: 18px;
      transform: rotate(-45deg);
      transition: all .25s ease;
    }
  }

  .quick-panel-elements {
    $size: rem(21px);
    max-width: $size;
    height: $size;
    width: $size;
    margin-top: 85px;
    margin-left: 15px;
    transition: all .5s ease;
    opacity: 0;

    &.resolved {
      opacity: 1;
    }
  }

  .quick-panel-layers {
    $size: rem(21px);
    max-width: $size;
    height: $size;
    width: $size;
    margin-top: 25px;
    margin-left: 15px;
    transition: all .5s ease;
    opacity: 0;

    &.resolved {
      opacity: 1;
    }
  }

  .quick-panel-undo {
    $size: rem(21px);
    max-width: $size;
    height: $size;
    width: $size;
    margin-top: 25px;
    margin-left: 15px;
    transition: all .5s ease;
    background-color: $quick-panel-primary;
    transform: rotate(-360deg);
    opacity: 0;

    &.resolved {
      opacity: 1;
    }

    &.active {
      transition: all 0s ease;
      transform: rotate(0deg);
    }
  }

  .quick-panel-redo {
    $size: rem(21px);
    max-width: $size;
    height: $size;
    width: $size;
    margin-top: 25px;
    margin-left: 15px;
    transition: all .5s ease;
    background-color: $quick-panel-primary;
    // transform: rotate(0deg) scaleY(-1);
    opacity: 0;

    &.resolved {
      opacity: 1;
    }

    &.active {
      transition: all 0s ease;
      transform: rotate(-360deg);
    }
  }
}
