$corner-width: rem(21px);

.ruler-container {
  position: fixed;
  top: rem(130px);
  left: 0;
  height: calc(100vh - 130px);
  width: 100vw;
  z-index: 6;
}

.ruler-corner {
  @include no-drag();
  width: $corner-width;
  height: $corner-width;
  border-bottom: 1px solid $ruler-border;
  position: fixed;
  top: rem(130px);
  z-index: 2;
}

.top-ruler {
  @include no-drag();
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  width: calc(100% - #{$corner-width});
  height: $corner-width;
  background-color: $ruler;
  background: url('../img/top-ruler.png');
  background-repeat: repeat-x;
  top: rem(130px);
  left: rem(21px);
  border-left: rem(1px) solid $ruler-border;
  border-bottom: rem(1px) solid $ruler-border;

  // try to remove need for !important here
  .top-ruler-svg {
    margin: 0 !important;
    padding: 0 !important;
    height: calc(#{$corner-width} - 1px);
  }

  .number {
    position: absolute;
    top: rem(-2px);
    left: rem(5px);
    opacity: .8;
    font-size: rem(9px);
    font-weight: bold;
    color: darken($ruler-mark, 10%);

    &:first-of-type {
      top: rem(3px);
      left: rem(4px);
    }
  }

  .top-pointer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: rem(1px);
    background-color: $mockery-green;
    z-index: 2;
  }

  .ruler-five {
    float: left;
    margin-top: rem(26px);
    height: 13%;
    width: rem(1px);
    background-color: $ruler-mark;
    margin-left: rem(4px);
  }

  .ruler-ten {
    float: left;
    margin-top: rem(21px);
    height: 28%;
    width: rem(1px);
    background-color: $ruler-mark;
    margin-left: rem(4px);
  }

  .ruler-hundred {
    position: relative;
    float: left;
    height: 100%;
    width: rem(1px);
    background-color: $ruler-mark;
    margin-left: rem(99px);

    &.first {
      margin-left: rem(100px);
    }

    .number {
      position: absolute;
      top: rem(2px);
      left: rem(10px);
      padding-left: rem(5px);
      font-size: rem(9px);
      font-weight: bold;
      color: darken($ruler-mark, 10%);
      width: rem(50px);

      span {
        display: block;
      }

      &:first-of-type {
        top: rem(3px);
        left: rem(1px);
      }
    }
  }
}

.left-ruler {
  $height-before-ruler: 151px;
  @include no-drag();
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  width: calc(#{$corner-width} + 1px);
  height: calc(100vh - #{$height-before-ruler});
  background-color: $ruler;
  background: url('../img/left-ruler.png');
  background-repeat: repeat-y;
  top: rem(151px);
  border-right: rem(1px) solid $ruler-border;

  .number {
    position: absolute;
    top: rem(2px);
    left: rem(10px);
    font-size: rem(9px);
    padding-left: rem(5px);
    font-weight: bold;
    opacity: .8;
    line-height: rem(12px);
    color: darken($ruler-mark, 10%);

    span {
      font-size: rem(9px);
      line-height: rem(10px);
      display: block;
    }

    &:first-of-type {
      top: rem(2px);
      left: rem(3px);
    }
  }

  .left-pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(1px);
    background-color: $mockery-green;
    z-index: 100;
  }

  .ruler-five {
    clear: both;
    float: right;
    height: rem(1px);
    width: 13%;
    background-color: $ruler-mark;
    margin-top: rem(4px);
  }

  .ruler-ten {
    clear: both;
    float: right;
    height: rem(1px);
    width: 28%;
    background-color: $ruler-mark;
    margin-top: rem(4px);
  }

  .ruler-hundred {
    clear: both;
    float: right;
    position: relative;
    height: rem(1px);
    width: 100%;
    background-color: $ruler-mark;
    margin-top: rem(99px);

    .number {
      position: absolute;
      top: rem(2px);
      left: rem(10px);
      padding-left: rem(5px);
      font-size: rem(9px);
      font-weight: bold;
      color: darken($ruler-mark, 10%);
      width: rem(50px);

      span {
        display: block;
      }

      &:first-of-type {
        top: rem(3px);
        left: rem(3px);
      }
    }
  }
}
