// General Settings
$base-font-size: 16px; // leave as px value
$global-border-radius: rem(3px);

// Navigation
$nav-height: rem(80px);
$action-bar-height: rem(45px);
$nav-height-with-ruler: 151px;

// Breakpoints to be used with include-media
// Example Css: http://include-media.com/#features
$mobile: rem(320px);
$mobile-l: rem(640px);
$tablet: rem(768px);
$tablet-l: rem(1024px);
$desktop: rem(1280px);
$max-site-width: rem(1600px);

$breakpoints: (
  'mobile': $mobile,
  'mobile-l': $mobile-l,
  'tablet': $tablet,
  'tablet-l': $tablet-l,
  'desktop': $desktop,
  'max-site-width': $max-site-width
);
