// Colors
$coal: #444;
$white: #FFF;
$grey: #F7F9FA;
$dark-grey: #E3E7EB;
$light-grey: #AAABAB;

// Brand Colors
$mockery-green: #63BE61;

// Colors by Use
$ruler: #F5F6F7;
$ruler-mark: #cdcccc;
$quick-panel-primary: #5FA9DD;
$quick-panel-secondary: darken($quick-panel-primary, 10%);

// Borders
$ruler-border: #E0E0E0;
