@mixin link-button() {
  overflow: visib

  le; // Shrinkwrap the text in IE7-
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit; // Inherit font settings (doesn’t work in IE7-)
  line-height: normal; // Override line-height to avoid spacing issues
  cursor: pointer; // Buttons don’t make the cursor change in all browsers
  -moz-user-select: text; // Make button text selectable in Gecko
  /* Remove mystery padding in Gecko browsers.
     * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
     */
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: 0;
  }
}

// Create a basic animation triggered by waypoints
// Defaults to fade-in-up type animation, but useful for simple fades or slides.
@mixin waypoint-basic( $y-start: 30px, $opacity-start: 0, $x-start: 0, $y-end: 0, $opacity-end: 1, $x-end: 0, $duration: .2s, $class-to-toggle: ('.resolved'), $easing: $ease-out-quad) {
  transform: translateY($y-start) translateX($x-start);
  transition: all $duration $easing;
  opacity: $opacity-start;

  &#{$class-to-toggle} {
    // $.resolved {
    opacity: $opacity-end;
    transform: translateY($y-end) translateX($x-end);
  }
}

// center an absolutely positioned element:
@mixin absolute-center($width: 50%) {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

// Mixin: Underline
// Adds an animated underline below text links

@mixin underline($color: $cyan) {
  position: relative;
  text-decoration: none;
  display: inline-block; // note this will make entire link wrap to new line. if turned off effect doenst work

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: rem(3px);
    left: 0;
    background-color: rgba($color, 0);
    transform: scaleX(0);
    transition: all .3s $ease-out-quad;
  }

  &:hover {

    &:after {
      transform: scaleX(1);
      background-color: $color;
    }
  }
}
