html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $base-font;
  height: 100%;
  width: 100%;
}

// Utility classes
.cf {
  @include cf();
}

hr {
  @include rule();
}

nav { ul { @include reset-list(); } }

*, *:before, *:after {
  box-sizing: inherit;
}
